/* 
Author: Nahian Jahangir
This is the CSS file for the homepage
*/

body {
	/* src: http://subtlepatterns.com/?p=1045 */
	background: url('dark_geometric.png');
}

/* Set the font color to blue and italics */
h1 {
	color: blue;
	font-style: italic;
	font-family: Georgia,"Times New Roman", Serif;
}
/* Set the font color to blue and italics/bold of two headers*/
h2, h3 {
	color: blue;
	font-style: italic;
	font-weight: bold;
	font-family: Georgia,"Times New Roman", Serif;
}

/* Needed to center this paragraph, finally got to make it work*/
p {
    font-family: Georgia,"Times New Roman", Serif;
    text-align: center;
    margin:100px;
}

/* Classes go here vvvv */


/* First three photos of me*/

.photoslide {
	padding-left:50px;
}

/* Class of four images representing what I do */

.centericons {
	height:64px;
	width:800px;
	margin:50px auto;
	padding-left:75px;

}

/* Ids go here vvvv */

/* Alter how each of the photos interacts with their space */
#firstpics {
	padding:5px;
}

/* Alter how each of the icons interacts with their space */

#flaticon {
	padding-right:150px
}

#flaticon.last {
	padding-right:0px;
}
