/* 
Author: Nahian Jahangir
This is the CSS file for the homepage
*/

body {
	/* src: http://subtlepatterns.com/?p=1045 */
	background: url('dark_geometric.png');
}

/* Set the font color to blue and italics */
h1 {
	color: blue;
	font-style: italic;
	font-family: Georgia,"Times New Roman", Serif;
}
/* Set the font color to blue and italics/bold of two headers*/
h2, h3 {
	color: blue;
	font-style: italic;
	font-weight: bold;
	font-family: Georgia,"Times New Roman", Serif;
}

/* Needed to center this paragraph, finally got to make it work*/
p {
    font-family: Georgia,"Times New Roman", Serif;
    text-align: center;
    margin:100px;
}

.photoslide {
	padding-left:50px;
}

img {
	padding:5px;
}
